<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Autor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Autor</h1>

    <h2>Nome:</h2>
    <p>Caroline Simão</p>

    <h2>Formações Acadêmicas:</h2>
    <ul>
        <li>Técnico em Informática para internet — ifce campos-Sobral (2025)</li>
    </ul>

    <h2>Experiências Profissionais:</h2>
    <ul>
      <li>Desenvolvedora Júnior — (2025)</li>
      <li>instagram— @caroltec_inf (atual)</li>
    </ul>

    <a href="/index">Voltar</a>
  </div>
</body>
</html>
